input,select,textarea{
    width 80%;
    margin 5px auto;
    display block;
    height 50px;
    line-height 50px;
    color $color1
}
select{
    height  50px;
    color $color1
}
button{
    border none;
    background $first;
    color $color4;
    padding 10px;
    font-size 18px;
    cursor pointer
    border-radius 10px;
}
.btn-first{
    background $first;
}
.btn-second{
    background $second;
}
.btn-third{
    background $third;
}
