.mask{
    width 100vw;
    height 100vh;
    position fixed;
    left 0px;
    top 0px;
    background rgba(255,218,158,0.5);
    .box{
        width 400px;
        height 300px;
        background $color4;
        border-radius 20px;
        position absolute;
        left 0;
        top 0px;
        right 0;
        bottom 0px;
        margin auto;
    }
}