table{
    border 1px solid $first
    border-collapse collapse
    width 80%;
    margin 20px auto
    tr {
        td,th{
            border 1px solid $first
            color $color1
            text-align center
        }
    }
}